@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3d1ac;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec8922;
  /* border-radius: 10px; */
}

body{
  background-image: url('././assets/img/ss5.png');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  font-family: 'Poppins', sans-serif;
}